<app-form-container>
    <h3>Žalba na odluku organa vlasti</h3><br><br>
    <form [formGroup]="zalbaForm">
        <div [class.disabled]="savePending">
            <mat-form-field>
                <mat-label>Naziv organa vlasti</mat-label>
                <input 
                matInput 
                autocomplete="off"
                formControlName="naziv" 
                placeholder="Unesite naziv organa vlasti">
                <mat-error>
                    Naziv organa vlasti je obavezan!
                </mat-error>
            </mat-form-field>
            <br>
            <mat-form-field>
                <mat-label>Broj rešenja za odbijanje</mat-label>
                <input 
                matInput 
                autocomplete="off"
                formControlName="brojOdluke" 
                placeholder="Unesite broj rešenja za odbijanje">
                <mat-error>
                    Broj rešenja za odbijanje je obavezan!
                </mat-error>
            </mat-form-field>     
            <mat-form-field>
                <mat-label>Lozinka za autentifikaciju na portalu organa vlasti</mat-label>
                <input 
                type="password" 
                matInput 
                autocomplete="off"
                formControlName="lozinka"
                placeholder="Unesite lozinku">
                <mat-error>
                    Lozinka je obavezna!
                </mat-error>    
            </mat-form-field>
            <br><mat-label>Kliknite na 'Detalji' tag kako biste editovali opis tražene informacije:</mat-label>
            <div id="zalbaOdlukaEditor" class="xonomy"></div>
        </div>    
        <br><br>
        <app-center-container>
            <button 
            *ngIf="!savePending"
            mat-raised-button 
            color="primary"
            (click)="save()">Pošalji zalbu</button>
            <app-spinner-button *ngIf="savePending"></app-spinner-button>
        </app-center-container>
    </form>
</app-form-container>