@import "../../../../styles/constants"
    
.mat-toolbar
    display: flex
    flex-direction: row
    justify-content: space-between
    align-items: center
    height: $toolbar-height
    position: fixed
    z-index: $z-index-2

.details
    display: flex 
    flex-direction: row
    align-items: center
    justify-content: center

.toggler
    margin-right: $padding-20