<mat-drawer-container>

  <mat-drawer mode="side" #drawer class="mat-elevation-z24">
    <app-pretraga
    [tip]="'izvestaj'"
    [fetchPending]="fetchPending"
    (obicnaPretragaTriggered)="pretraga($event, 'obicna')"
    (naprednaPretragaTriggered)="pretraga($event, 'napredna')"></app-pretraga>
  </mat-drawer>

  <app-preloader *ngIf="fetchPending"></app-preloader>

  <div class="root">

    <h2>Lista godišnjih izveštaja</h2><br>

    <div class="mat-elevation-z8">
      <table mat-table [dataSource]="izvestaji" matSort>
      
        <ng-container matColumnDef="godina">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Godina</th>
          <td mat-cell *matCellDef="let izvestaj"> {{izvestaj.godina}} </td>
        </ng-container>

        <ng-container matColumnDef="datum">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Datum podnošenja</th>
          <td mat-cell *matCellDef="let izvestaj"> {{izvestaj.datum}} </td>
        </ng-container>

        <ng-container matColumnDef="dokumenti">
          <th mat-header-cell *matHeaderCellDef>Dokumenti</th>
          <td mat-cell *matCellDef="let izvestaj">
            <a [routerLink]="'/html/izvestaji/' + izvestaj.broj">HTML</a><br>
            <a [routerLink]="'/pdf/izvestaji/' + izvestaj.broj">PDF</a>
          </td>
        </ng-container>

        <ng-container matColumnDef="metapodaci">
          <th mat-header-cell *matHeaderCellDef>Metapodaci</th>
          <td mat-cell *matCellDef="let izvestaj">
            <a *ngIf="true" (click)="metadata(izvestaj.broj, 'rdf')">RDF</a><br>
            <a *ngIf="true" (click)="metadata(izvestaj.broj, 'json')">JSON</a><br>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="columns"></tr>
        <tr mat-row *matRowDef="let row; columns: columns;"></tr>
        <tr class="mat-row" *matNoDataRow><td class="mat-cell" colspan="4">Nema izveštaja</td></tr>

      </table>
      <mat-paginator [pageSizeOptions]="[5, 10, 20]"></mat-paginator>

      <span class="podnosenjeSpan">
        <span>
          <form [formGroup]="izvestajForm">
            <div [class.disabled]="savePending">
              <mat-form-field>
                <mat-label>Godina</mat-label>
                <input
                matInput
                autocomplete="off"
                placeholder="Godina"
                formControlName="godina">
              </mat-form-field>
            </div>
          </form>
        </span>
        <span>
          <button 
          *ngIf="!savePending"
          mat-raised-button 
          color="primary"
          (click)="save()">Podnesi izveštaj</button>
          <app-spinner-button *ngIf="savePending"></app-spinner-button>
        </span>
      </span>
    </div>
  </div>

</mat-drawer-container>