<app-form-container>
    <h3>Odbijanje zahteva za informacijama od javnog značaja</h3><br><br>
    <div [class.disabled]="savePending">
        <br><mat-label>Kliknite na 'Detalji' tag kako biste editovali razlog odbijanja:</mat-label>
        <div id="odbijanjeEditor" class="xonomy"></div>
    </div>
    <br><br>
    <app-center-container>
        <button 
        *ngIf="!savePending"
        mat-raised-button 
        color="primary"
        (click)="save()">Odbij zahtev</button>
        <app-spinner-button *ngIf="savePending"></app-spinner-button>
    </app-center-container>
</app-form-container>
