<mat-drawer-container>

  <mat-drawer mode="side" #drawer class="mat-elevation-z24">
    <app-pretraga
    [tip]="'odluka'"
    [fetchPending]="fetchPending"
    (obicnaPretragaTriggered)="pretraga($event, 'obicna')"
    (naprednaPretragaTriggered)="pretraga($event, 'napredna')"></app-pretraga>
  </mat-drawer>

  <app-preloader *ngIf="fetchPending"></app-preloader>

  <div class="root">
  
    <h2>Lista izdatih odluka</h2><br>
  
    <div class="mat-elevation-z8">
      <table mat-table [dataSource]="odluke" matSort>
    
        <ng-container matColumnDef="tipOdluke">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Tip odluke</th>
          <td mat-cell *matCellDef="let odgovor"> {{odgovor.tipOdluke}} </td>
        </ng-container>
    
        <ng-container matColumnDef="datum">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Datum izdavanja</th>
          <td mat-cell *matCellDef="let odgovor"> {{odgovor.datum}} </td>
        </ng-container>
    
        <ng-container matColumnDef="datumZahteva">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Datum podnošenja zahteva</th>
          <td mat-cell *matCellDef="let odgovor"> {{odgovor.datumZahteva}} </td>
        </ng-container>
  
        <ng-container matColumnDef="dokumenti">
          <th mat-header-cell *matHeaderCellDef>Dokumenti</th>
          <td mat-cell *matCellDef="let odgovor">
            <a [routerLink]="'/html/odluke/' + odgovor.broj">HTML</a><br>
            <a [routerLink]="'/pdf/odluke/' + odgovor.broj">PDF</a>
          </td>
        </ng-container>
  
        <ng-container matColumnDef="metapodaci">
          <th mat-header-cell *matHeaderCellDef>Metapodaci</th>
          <td mat-cell *matCellDef="let odluka">
            <a *ngIf="true" (click)="metadata(odluka.broj, 'rdf')">RDF</a><br>
            <a *ngIf="true" (click)="metadata(odluka.broj, 'json')">JSON</a><br>
          </td>
        </ng-container>
      
        <tr mat-header-row *matHeaderRowDef="columns"></tr>
        <tr mat-row *matRowDef="let odluka; columns: columns;"
        (click)="selectedOdluka = selectedOdluka === odluka ? null : odluka"
        [class.marked]="selectedOdluka === odluka"></tr>
        <tr class="mat-row" *matNoDataRow><td class="mat-cell" colspan="5">Nema odluka</td></tr>
      
      </table>
      <mat-paginator [pageSizeOptions]="[5, 10, 20]"></mat-paginator>
    </div>
  </div>
  
  <app-reference-list *ngIf="selectedOdluka"
  [reference]="selectedOdluka.reference"></app-reference-list>

</mat-drawer-container>