<br><h4>Napredna pretraga</h4><br>

<div class="root">
    <div [id]="page + 'naprednaPretraga'" class="xonomy"></div>
    <br><br>
    <app-spacer-container>
        <span>
            <button 
            *ngIf="!fetchPending"
            mat-raised-button 
            color="primary"
            (click)="ngAfterViewInit()">Resetuj</button>
            <app-spinner-button *ngIf="fetchPending"></app-spinner-button>
        </span>
        <span>
            <button 
            *ngIf="!fetchPending"
            mat-raised-button 
            color="primary"
            (click)="pretrazi()">Pretraži</button>
            <app-spinner-button *ngIf="fetchPending"></app-spinner-button>
        </span>
    </app-spacer-container>
</div>
