<app-form-container>
    <h3>Zahtev za informacijama od javnog značaja</h3><br><br>
    <form [formGroup]="zahtevForm">

        <div [class.disabled]="savePending">
            <mat-form-field>
                <mat-label>Pravo koje želite da ostvarite: </mat-label>
                <mat-select formControlName="tipZahteva">
                    <mat-option [value]="'obavestenje'">
                        obaveštenje da li organ poseduje traženu informaciju
                    </mat-option>
                    <mat-option [value]="'uvid'">
                        uvid u dokument koji sadrži traženu informaciju
                    </mat-option>
                    <mat-option [value]="'kopija'">
                        kopija dokumenta koji sadrži traženu informaciju
                    </mat-option>
                    <mat-option [value]="'dostava'">
                        dostava dokumenta koji sadrži traženu informaciju
                    </mat-option>
                </mat-select>                
            </mat-form-field>
            <mat-form-field *ngIf="dostava">
                <mat-label>Način dostave</mat-label>
                <mat-select formControlName="tipDostave">
                    <mat-option [value]="'posta'">poštom</mat-option>
                    <mat-option [value]="'email'">elektronskom poštom</mat-option>
                    <mat-option [value]="'faks'">faksom</mat-option>
                    <mat-option [value]="'ostalo'">na drugi način</mat-option>
                </mat-select>                
            </mat-form-field>
            <mat-form-field *ngIf="ostalaDostava">
                <mat-label>Opis dostave</mat-label>
                <input 
                matInput 
                autocomplete="off"
                formControlName="opisDostave"
                placeholder="Unesite opis dostave">
                <mat-error>
                    Opis dostave je obavezan!
                </mat-error>    
            </mat-form-field>
            <br><mat-label>Kliknite na 'Detalji' tag kako biste editovali opis tražene informacije:</mat-label>
            <div id="zahtevEditor" class="xonomy"></div>
        </div>
        <br><br>
        <app-center-container>
            <button 
            *ngIf="!savePending"
            mat-raised-button 
            color="primary"
            (click)="save()">Pošalji zahtev</button>
            <app-spinner-button *ngIf="savePending"></app-spinner-button>
        </app-center-container>
        
    </form>
</app-form-container>
