<mat-drawer-container>
  <mat-drawer mode="side" #drawer class="mat-elevation-z24">
    <app-pretraga
    [tip]="'resenje'"
    [fetchPending]="fetchPending"
    (obicnaPretragaTriggered)="pretraga($event, 'obicna')"
    (naprednaPretragaTriggered)="pretraga($event, 'napredna')"></app-pretraga>
  </mat-drawer>

  <app-preloader *ngIf="fetchPending"></app-preloader>

  <div class="root">

    <h2>Lista izdatih rešenja</h2><br>

    <div class="mat-elevation-z8">
      <table mat-table [dataSource]="resenja" matSort>
      
        <ng-container matColumnDef="datum">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Datum izdavanja</th>
          <td mat-cell *matCellDef="let resenje"> {{resenje.datum}} </td>
        </ng-container>

        <ng-container matColumnDef="status">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
          <td mat-cell *matCellDef="let resenje"> {{resenje.status}} </td>
        </ng-container>

        <ng-container matColumnDef="dokumenti">
          <th mat-header-cell *matHeaderCellDef>Dokumenti</th>
          <td mat-cell *matCellDef="let resenje">
            <a [routerLink]="'/html/resenja/' + resenje.broj">HTML</a><br>
            <a [routerLink]="'/pdf/resenja/' + resenje.broj">PDF</a>
          </td>
        </ng-container>

        <ng-container matColumnDef="metapodaci">
          <th mat-header-cell *matHeaderCellDef>Metapodaci</th>
          <td mat-cell *matCellDef="let resenje">
            <a *ngIf="true" (click)="metadata(resenje.broj, 'rdf')">RDF</a><br>
            <a *ngIf="true" (click)="metadata(resenje.broj, 'json')">JSON</a><br>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="columns"></tr>
        <tr mat-row *matRowDef="let row; columns: columns;"></tr>
        <tr class="mat-row" *matNoDataRow><td class="mat-cell" colspan="4">Nema rešenja</td></tr>

      </table>
      <mat-paginator [pageSizeOptions]="[5, 10, 20]"></mat-paginator>
    </div>
  </div>

</mat-drawer-container>