<app-form-container>
    <h3>Odgovor na žalbu</h3><br><br>
    <br><mat-label>Kliknite na 'Detalji' tag kako biste editovali odgovor na žalbu:</mat-label>
    <div [class.disabled]="savePending">
        <div id="odgovorEditor" class="xonomy"></div>
    </div>
    <br><br>
    <app-center-container>
        <button 
        *ngIf="!savePending"
        mat-raised-button 
        color="primary"
        (click)="save()">Pošalji odgovor</button>
        <app-spinner-button *ngIf="savePending"></app-spinner-button>
    </app-center-container>
</app-form-container>
