<mat-drawer-container>

  <mat-drawer mode="side" #drawer class="mat-elevation-z24">
    <app-pretraga
    [tip]="'zalba'"
    [fetchPending]="fetchPending"
    (obicnaPretragaTriggered)="pretraga($event, 'obicna')"
    (naprednaPretragaTriggered)="pretraga($event, 'napredna')"></app-pretraga>
  </mat-drawer>

  <app-preloader *ngIf="fetchPending"></app-preloader>

  <div class="root">

    <h2>Lista podnetih žalbi</h2><br>

    <div class="mat-elevation-z8">
      <table mat-table [dataSource]="zalbe" matSort>
      
        <ng-container matColumnDef="tipZalbe">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Tip žalbe</th>
          <td mat-cell *matCellDef="let zalba"> {{zalba.tipZalbe}} </td>
        </ng-container>
    
        <ng-container matColumnDef="datum">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Datum podnošenja</th>
          <td mat-cell *matCellDef="let zalba"> {{zalba.datum}} </td>
        </ng-container>

        <ng-container matColumnDef="status">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
          <td mat-cell *matCellDef="let zalba"> {{zalba.status}} </td>
        </ng-container>

        <ng-container matColumnDef="dokumenti">
          <th mat-header-cell *matHeaderCellDef>Dokumenti</th>
          <td mat-cell *matCellDef="let zalba">
            <a [routerLink]="'/html/zalbe/' + zalba.broj">HTML</a><br>
            <a [routerLink]="'/pdf/zalbe/' + zalba.broj">PDF</a>
          </td>
        </ng-container>

        <ng-container matColumnDef="metapodaci">
          <th mat-header-cell *matHeaderCellDef>Metapodaci</th>
          <td mat-cell *matCellDef="let zalba">
            <a *ngIf="true" (click)="metadata(zalba.broj, 'rdf')">RDF</a><br>
            <a *ngIf="true" (click)="metadata(zalba.broj, 'json')">JSON</a><br>
          </td>
        </ng-container>

        <ng-container matColumnDef="akcije">
          <th mat-header-cell *matHeaderCellDef>Akcije</th>
          <td mat-cell *matCellDef="let zalba">
            <a 
            *ngIf="zalba.status === 'prosledjeno' && uloga === 'sluzbenik'"
            [routerLink]="'/odgovor-form/' + zalba.broj"
            >Odgovori</a>
            </td>
        </ng-container>
      
        <tr mat-header-row *matHeaderRowDef="columns"></tr>
        <tr mat-row *matRowDef="let zalba; columns: columns;"
        (click)="selectedZalba = selectedZalba === zalba ? null : zalba"
        [class.marked]="selectedZalba === zalba"></tr>

        <tr class="mat-row" *matNoDataRow><td class="mat-cell" colspan="6">Nema žalbi</td></tr>

      </table>
      <mat-paginator [pageSizeOptions]="[5, 10, 20]"></mat-paginator>
    </div>
  </div>

  <app-reference-list *ngIf="selectedZalba"
  [reference]="selectedZalba.reference"></app-reference-list>

</mat-drawer-container>